h2 {
    font-family: 'Frijole', cursive;
    animation: glow1 1s infinite alternate;
  };
  
  p {
    font-family: 'Oswald', sans-serif;
    animation: glow1 1s infinite alternate;
  }
  
  footer {
    font-size: 2rem;
    background-color: rgb(65, 15, 15);
    border-radius: 30px;
    width: 100%;
    border: 4px solid rgba(170, 7, 7, 0.658);
    color : rgb(235, 17, 17);
    margin-left: auto;
    letter-spacing: 0.7320644216691069vw;
    margin-top: -20px;
    animation: glow 1s infinite alternate;
  }